<!--
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>RecipeSource</title>

      <link rel="stylesheet" href="stylesheets/style.css">
        </head>
        <body> -->
          <div class="largecenter">
            <div class='smallcenter'>
              <h1>Keep all of your loved recipes in one place.</h1>
              <!-- <p>And find new ones.</p> -->
              <a href="/signup" class="signin"> Sign Up </a>
              <a href="/login" class="login"> Log In </a>

            </div>
          </div>
      <!-- <div class="container-fluid">
      <div class="row">
      <img src="../public/images/pexels-photo-266642.jpeg" class="img-responsive main-img" alt="Responsive image">
      </div>
      </div> -->


        <!-- </body>
      </html> -->
