
/*addlovedrecipe page aka: recipes/new */

body {
  background-color:lavender;
    /*background: url('../images/pexels-photo-268328.jpeg');*/
    background-size: cover;
    /*font-family: Montserrat;*/
    /*font-family: 'Indie Flower', cursive;*/
}

.login-block {
    width: 455px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid white;
    margin: 0 auto;
    padding-top: 4vh;
    margin-top:15vh;
    vertical-align: middle;
}

.login-block h2 {
    text-align: center;
    color: #000;
    font-family: 'Indie Flower', cursive;
    font-size: 6vh;
    /*text-transform: uppercase;*/
    margin-top: 0;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    font-size: 3vh;
}
.inline p{
  display: inline-block;
}
.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}
fieldset {
  margin-bottom: 0px;
}
fieldset label {
  vertical-align: middle;
  line-height: 42px;
  margin-bottom: 0;
  margin-left: 10px;
}
.login-block input[type="checkbox"] {
  width: auto;
  vertical-align: middle;
  margin-bottom: 0;
}
#photo-url{
margin-left: 1000px;
height:0px;
}

.login-block button {
    width: 100%;
    height: 40px;
    /*background: lightpink;*/
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}
.login-block span{
  width: 100%;
  height: 40px;
  padding: 10px;
  background: lightgrey;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid white;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Indie Flower', cursive;
  outline: none;
  cursor: pointer;
}
textarea{
  width: 25vw;
    height: 13vh;
}
#backtorecipesbutton {
    position: absolute;
    top: 0;
    right: 5%;
}

#backtorecipesbutton{

  padding: 1rem;
  background-color: lightpink;
  text-align: center;
  /*below is temp fix for location of add button*/

  margin-top: -206vh;
  height: 40px;
  /*background: lightpink;*/
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid white;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
}
