/**/
body {
  display: flex;
 min-height: 100vh;
 flex-direction: column;
}
h2{
  font-family: 'Indie Flower', cursive;
  font-size: 6vh;
  text-align: center;
}
.eachrecipepic img{
  width: 100%;
}
.recipe-view{
  margin-top: 65px;
}
#recipes-page{
  height: 70vh;
  ul{
    width:100%;
  }
  li{
    width:80%;
    margin-left: 8%;
    height: 70vh;
  }
}
.row-between{
  margin-left: 144px;
}
.rowspacing{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.imageblock{
  width: 25%;
  height:47vh;
  border: 5px solid lightpink;
  border-radius: 10px;
  margin: 15px;
  display: inline-block;
  box-shadow: 7px 9px 33px -10px silver;
}
.eachrecipepic{
  height: 70%;
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.recipedesc{
  height: 30%;
  width: 100%;
  text-align: center;
  color: grey;
  margin-top: 14px;
}
#footer{
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  /*below is temp fix for location of add button*/
  margin-top: 500px;
}
#wrapper{
  flex: 1;
  /*min-height: 100%;
  margin-bottom: -142px;*/
}
#wrapper:after {
  /*content: "";
  display: block;*/
}
.sitefooter, .page-wrap:after {
  /*height: 142px; */
}
.site-footer {
  background: orange;
}
