<link rel="stylesheet" href="stylesheets/login.css">

<div class="login-block">
<h2>Log In </h2>
<!-- //added id=form so it can have the same css as the signup form -->
<form id="form" action="/login" method="post">
  <label for="username-input"> Username</label>
  <input  id="username-input" type="text" name="loginUsername">
  <!-- // placeholder is optional -->
  <br>
  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" name="loginPassword">
  <br>


  <button> Log In </button>
</form>

<br>
