
<link rel="stylesheet" href="stylesheets/signup.css">

<div class="login-block">

  <h2>Sign Up</h2>

  <% if (typeof messageForUsers === "string") { %>
    <p class="error-message"> <%= messageForUsers%> </p>
  <%}%>
  <form id="form" action="/signup" method="post">
    <label for="full-name-input"> Your Name</label>
    <input type="text" name="signupFullName" id="full-name-input">
    <!-- // placeholder is optional -->
    <br>
    <label for="username-input"> UserName</label>
    <input type="text" name="signupUsername" id="username-input">
    <br>
    <label for="password-input"> Password </label>
    <input type="password" name="signupPassword" id="password-input"
    placeholder="***********">
    <button> Sign Up </button>
  </form>

</div>
