
<h2>Add a Room</h2>
<!-- add enctype to upload photos -->
<form method="post" action="/rooms" enctype="multipart/form-data" >
  <label for="room-name-input"> Room Name </label>
  <input  id="room-name-input" type="text" name="roomName">
  <br>

  <label for="room-description-input"> Description </label>
  <!-- //use textarea for text area -->
  <textarea  id="room-description-input"  name="roomDescription"></textarea>
  <br>
<!-- change type to file -->
  <label for="room-photo-url"> Photo URL </label>
  <input  id="room-photo-url" type="file" name="roomPhotoUrl">
  <br>

  <button> Save This Room </button>
</form>
