<link rel="stylesheet" href="stylesheets/addrecipe.css">

<div class="login-block">
<h2>Add a Loved Recipe</h2>
<!-- add enctype to upload photos -->
<form method="post" action="/recipes" enctype="multipart/form-data" >
  <label for="recipe-name-input"> Recipe Name: </label>
  <input  id="recipe-name-input" type="text" name="recipename">
  <br>

  <label for="recipe-source-input"> Recipe Source: </label>
  <input  id="recipe-source-input" type="text" name="recipesource">
  <br>

  <label for="source-link-input"> Recipe Source Link: </label>
  <input  id="source-link-input" type="text" name="sourcelink">
  <br>

  <!-- change type to file so it goes to public folder -->
    <label for="photo-url"> Photo URL: </label>
    <input  id="photo-url" type="file" name="photoUrl">
    <br>

  <label for="recipe-category-input"> Recipe Category: </label>
  <input  id="recipe-category-input" type="text" name="recipecategory">
  <br>

  <label for="recipe-tags-input"> Recipe Tags: </label>
  <input  id="recipe-tags-input" type="text" name="recipetags">
  <br>

  <label for="recipe-comment-input"> Recipe Comment: </label>
  <!-- //use textarea for text area -->
  <textarea  id="recipe-comment-input"  name="recipecomment"></textarea>
  <br>

  <button> Save This Recipe </button>
</form>
