

<body>
	<div id="wrapper">

		<div id="content">
<h2> My Loved Recipes </h2>
<section class="recipe-view" id="recipes-page">
<ul class='row-between'>
<% recipesAndStuff.forEach((oneRecipe) => { %>
    <li class='imageblock'>
<div class="eachrecipepic">
      <img id = "eachImg" src="<%= oneRecipe.photoUrl %>">
    </div>
    <div class="recipedesc">
      <p> <%= oneRecipe.recipename %> </p>
      <p> <%= oneRecipe.recipesource %> </p>
      <a href="/recipes/<%= oneRecipe._id %>">  View Recipe Details</a>
    </div>
    </li>
<% }) %>
</ul>
</section>
</div>
</div>
  </body>


		<span >
			<!-- <button> Add New Recipe </button> -->
			<a id="addbutton" href="/recipes/new" class="addrecipebutton"> Add New Recipe </a>


		</span>
